/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./common.css');
@import url('./vite-promo.css');
@import url('./header.css');
@import url('./work-together.css');


body {
  font-family: Arial, sans-serif;
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}